/* .table {
    border-collapse: collapse;
    width: 100%;
}
.table td, .table th {
    padding: 8px;
} 

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
}

.btn {padding:5px 15px; background:#F0F0F0; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    padding-top: 8px;
    padding-bottom: 8px;
}

.btn:hover {background-color: #DCDCDC;} */

.login_form {
    width: 80%;
    position: center;
    vertical-align: middle;
    padding:12px 20px;
    margin: auto;
    padding: 10px;
    background-color: #F5F5F5;
}

.login_field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;;
}

#submit_login {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#submit_login:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

/* #forgot_pwd {
  cursor: pointer;
  float: right;
  font-size: small;
} */

.login{
  width: 30%;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

body {
    font-family: "Open Sans", sans-serif;
}
/*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/

.table {
  border-collapse: collapse;
  width: 100%;
}
.table td, .table th {
  padding: 8px;
} 

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
}

.highlight tr:hover {background-color:#F8F8F8;}

.highlight td, .highlight th {
    text-align: center;
}

.btn {padding:5px 15px; background:#F0F0F0; border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  padding-top: 8px;
  padding-bottom: 8px;
}

.align_right {
  text-align:right;
}